﻿
@model IEnumerable<FletEX.Models.Projects>

<table class="table">
    @{
        var myChart = new Chart(width: 600, height: 400);

        myChart.SetYAxis("", 2000, 2100);
        myChart.AddTitle("Chart Title");

        List<string> list = new List<string>();
        List<string> list2 = new List<string>();
        foreach (var item in Model)
        {
            list.Add(item.Name);
            list2.Add(item.DateStart.Year.ToString());

        }
        myChart.AddSeries(name: "Projetcs", xValue: list.ToArray(), yValues: list2.ToArray());
        myChart.Save("~/Content/chart" + "Grafico", "jpeg");

    }
</table>