﻿
@{
    ViewBag.Title = "Gráfico - Ano Projeto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript"> function atualizarDefinicao() { $.ajax( { type: 'GET', url: '/Home/Chart', dataType: 'html', cache: false, async: true, success: function (data) { $('#chart').html(data); } }); } $(document).ready(function () { setInterval(atualizarDefinicao, 30000); }); </script>

<h2>Index</h2>

<div id="chart">

    <img src="@Url.Action("YearProjectChart", "Chart", new { pid = 1 })" />
</div>

<div>
    @Html.ActionLink("Back to List", "../Projects/Index")
</div>