﻿@using FletEX.Models;
@model FletEX.Models.Projects

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@{

    IEnumerable<Tasks> tasks = ViewData["Tasks"] as IEnumerable<Tasks>;
    IEnumerable<Projects> projects = ViewData["Projects"] as IEnumerable<Projects>;
}

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

    </dl>
</div>

<div>
    <h4>Tasks</h4>
    <p>
        @Html.ActionLink("Create New", "../Tasks/Create/"+Model.Id)
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Id")
            </th>
            <th>
                @Html.Label("Name")
            </th>            
            <th></th>
        </tr>

        @foreach (var item in tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titles)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "../Tasks/Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "../Tasks/Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "../Tasks/Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
