﻿@{
    ViewBag.Title = "EmailSend";
}   
<!DOCTYPE html>
<html>
<head>
    <title>Solicite por Suporte</title>
</head>
<body>
    <h2>Envie um e-mail solicitando o suporte</h2>
    <form method="post" action="ProcessRequest">
        <div>
            Seu nome:
            <input type="text" name="customerName" />
        </div>

        <div>
            Seu e-mail:
            <input type="text" name="customerEmail" />
        </div>

        <div>
           Detalhes sobre o problema: <br />
            <textarea name="customerRequest" cols="45" rows="4"></textarea>
        </div>

        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/56392d78c888c0222d7345ab/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>