﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FletX</h1>
    <p class="lead">Free platform to manage your tasks from a project development software. Written in ASP.NET</p>
    <p><a href="http://fletx.com.br" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p><ul><li>Create your project, tasks, users, groups.</li>
            <li>Set a priority of a task.</li>
            <li>Control date initial and end.</li>
            </ul>
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>