﻿@{
    var customerName = Request["customerName"];
    var customerEmail = Request["customerEmail"];
    var customerRequest = Request["customerRequest"];
    var errorMessage = "";
    var debuggingFlag = true;
    try
    {
        WebMail.SmtpServer = "smtp.gmail.com";
        WebMail.EnableSsl = true;
        WebMail.SmtpPort = 587;
        WebMail.UserName = "dap1995@gmail.com";
        WebMail.Password = "Spring@parielio";
        WebMail.From = "dap1995@gmail.com";
        WebMail.SmtpUseDefaultCredentials = false;
        WebMail.Send(to: "dap1995@gmail.com",
            subject: "Preciso de Suporte!!!! " + customerName + " - " + customerEmail,
            body: customerRequest
        );
    }
    catch (Exception ex)
    {
        errorMessage = ex.Message;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Solicitação de Assistência</title>
</head>
<body>
    <p>Está com problemas, <b>@customerName</b>?</p>
    @if (errorMessage == "")
    {
        <p>
            A seguinte mensagem de e-mail foi enviado para nosso departamente de suporte:
        </p>
        <p><b>@customerRequest</b></p>
    }
    else
    {
        <p><b>E-mail<em>não</em> enviado.</b></p>
        <p>
            Entre em contato com o suporte para análise deste problema.
        </p>
        if (debuggingFlag)
        {
            <p>Mensagem a ser entregue para o suporte:</p>
            <p><em>@errorMessage</em></p>
        }
    }
</body>
</html>