﻿@model FletEX.Models.Tasks

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Steps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Steps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Types)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Types)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Substeps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Substeps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priorities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priorities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projects.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "../Projects/Details", new { id = Model.Project_Id })
        </div>
    }
</div>
