﻿@using FletEX.Models;
@model FletEX.Models.Tasks

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@{

    IEnumerable<Tasks> tasks = ViewData["Tasks"] as IEnumerable<Tasks>;
    IEnumerable<Comments> comments = ViewData["Comments"] as IEnumerable<Comments>;
}


<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Steps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Steps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Types)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Types)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Substeps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Substeps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priorities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priorities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projects.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "../Projects/Details/" + Model.Project_Id)
</p>

<div>
    <h4>Comments</h4>
    <p>
        @Html.ActionLink("Create New", "../Comments/Create", new { id = Model.Id })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Id")
            </th>
            <th>
                @Html.Label("Name")
            </th>
            <th></th>
        </tr>
        @if (comments != null) {
        foreach (var item in comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Texts)
                </td>

                <td>
                    @Html.ActionLink("Edit", "../Comments/Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "../Comments/Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "../Comments/Delete", new { id = item.Id })
                </td>
            </tr>
        }
        }
    </table>
</div>
