﻿@model FletEX.Models.Comments

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Texts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tasks.Titles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tasks.Titles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "../Tasks/Details/" + Model.Tasks_Id)
</p>
